@model Repository.ViewModel.UsuarioViewModel

@{
    ViewData["Title"] = "Aluno";
}

<h5>Seja Bem Vindo Aluno(a): @Model.Nome</h5>

<p>
    <a asp-action="Create">Escolher Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.TipoUsuarioId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Nome)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => modelItem.TipoUsuarioId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => modelItem.NomeUsuario)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => modelItem.Senha)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => modelItem.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=Model.UsuarioId}) |
                @Html.ActionLink("Turma", "Turma", new { id=Model.UsuarioId }) 
            </td>
        </tr>
    </tbody>
</table>
